/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}

header{
    position: fixed;
    height: 80px;
    width:100%;
    background-color: #fe6a00;
    z-index: 999;
    top: 0;
    left: 0;
}
header nav.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;  
}

header .genders a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
header .icon{
    color: #fff;
    padding: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    display: flex;
    
}
header img{
    height: 30px;
}

/* main */

main{
    margin-top: 120px;
}

.flex-wrap{
    display: flex ;
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 3);
    padding: 10px;
}
.card img{
    width: 100%;
}
.card-img{
    position: relative;
}
.wish-list{
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}
.wish-list:hover{
    color: red
}
.card-badge{
    position: absolute;
    left: 0;
    bottom: 30px;  
}
span{
    color:#fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;   
}

.card-badge-discount{
    background-color: red;
}
.card-badge-tag{
    background-color: green;
}

.brand{
    font-size: 12px;
}
.description{
    font-size: 18px;
    font-weight: bold;
}
.price{
    color:red;
}
.back-img{ 
    display: none;
}
.card-img:hover .front-img{
    display: none;
}
.card-img:hover .back-img{
    display: inline-block;
}