/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}

header{
    position: fixed;
    height: 80px;
    width:100%;
    background-color: #fe6a00;
    top: 0;
    left: 0;
}
header nav.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;  
}

header .genders a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
header .icon{
    color: #fff;
    padding: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    display: flex;
    
}
header img{
    height: 30px;
}

/* main */

main{
    margin-top: 100px;
}

main .container {
    width: 80%;
}